<!DOCTYPE html>
<html>
<head>
	<title>Concert Finder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/../static/css/styles.css">
	<link rel="stylesheet" href="/../static/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/../static/css/bootstrap-social.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body id="grad">
	<nav class="navbar navbar-inverse navbar-toggleable-sm fixed-top">
        <div class="container">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto">
                	<li class="nav-item login-text"><img src="/../static/images/spotify-logo.png" style="height: 42px; width: 150px;"></li>
                    <li class="nav-item login-text username">{{ name }}</li>
                </ul>
                <ul>
                    <li class="nav-item" id="login-logo"><span data-shadow-text="Text-Shadow">CONCERT FINDER</span></li>
                </ul>
            </div>
        </div>
    </nav>
	
	<div class="container">
		<div class="row" id="artist-icons">
			<div class="media col-sm-2 Fsize" id="icon1"><img src= {{ artistPhotos[0] }} class="img-fluid" style="border-radius: 50%; height: 100%; width: 100%;"></div>
			<div class="media col-sm-2 Fsize" id="icon2"><img src= {{ artistPhotos[1] }} class="img-fluid" style="border-radius: 50%; height: 100%; width: 100%;"></div>
			<div class="media col-sm-2 Fsize" id="icon3"><img src= {{ artistPhotos[2] }} class="img-fluid" style="border-radius: 50%; height: 100%; width: 100%;"></div>
			<div class="media col-sm-2 Fsize" id="icon4"><img src= {{ artistPhotos[3] }} class="img-fluid" style="border-radius: 50%; height: 100%; width: 100%;"></div>
			<div class="media col-sm-2 Fsize" id="icon5"><img src= {{ artistPhotos[4] }} class="img-fluid" style="border-radius: 50%; height: 100%; width: 100%;"></div>
		</div>

		<div class="row concert-list">
			<div class="col-12 col-sm-5 artist-based">
				<h4> YOUR UPCOMING CONCERTS </h4>
            <ul class="list-group">
                  {% for y in ticketmasterResponse %}
                    <li class="list-group-item">{{y}}</li>
                    {% endfor %}
            </ul>
            </div>
			<div class="col-12 col-sm-5 artist-recommended">
				<h4> RECOMMENDED CONCERTS</h4>
                <ul class="list-group">
                {% for x in eventbriteResponse %}
                <li class="list-group-item">{{x}}</li>
                {% endfor %}
                </ul>
			</div>
		</div>
	</div>
</body>
</html>